body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(30, 255, 0, 0.5);
  background-position: center;
  /* background-repeat: no-repeat; */
}
/* Home Page */
h1 {
  color: black;
  font-size: 3em;
}
.homebtn {
  margin-top: 150px;
  display: flex;
  gap: 100px;
}
.homebtn button {
  border-radius: 20px;
  cursor: pointer;
  height: 60px;
  width: 180px;
}
.homebtn a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
}
.homebtn a:hover {
  color: #8b8bf2;
}
a:visited {
  color: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

table {
  margin: 50px;
  display: block;
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
}

.table th {
  padding: 10px;
  border: 1px solid black;
}

.table td {
  border: 1px solid black;
  padding: 10px;
}
input {
  height: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
label {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 20px;
  height: 40px;
  font-size: 1.5em;
}

/* page d'accueil */

/* boutons */

#see {
  color: black;
}

#modif {
  color: black;
}

.btn {
  border-radius: 20px;
  cursor: pointer;
  height: 60px;
  width: 180px;
  background-color: black;
  box-shadow: 3px 2px 8px 2px rgba(0, 0, 255, 0.5);
  color: white;
}
.btn:hover {
  color: #8b8bf2;
}

img {
  width: 350px;
  height: 200px;
}

#notice {
  font-size: 2em;
}
#deco {
  background-color: red;
  box-shadow: 3px 2px 8px 2px black;
}
#deco a {
  text-decoration: none;
  color: white;
}

#deco:hover {
  box-shadow: none;
}

#inscription {
  background-color: black;
  box-shadow: 3px 2px 8px 2px rgba(0, 0, 255, 0.5);
  color: white;
}

#connexion {
  background-color: black;
  box-shadow: 3px 2px 8px 2px rgba(0, 0, 255, 0.5);
  color: white;
}

#add {
  border-radius: 20px;
  cursor: pointer;
  height: 60px;
  width: 180px;
  background-color: green;
  box-shadow: 3px 2px 8px 2px rgba(0, 0, 255, 0.5);
  color: white;
}
#add a {
  text-decoration: none;
  color: white;
}
