body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

table {
  margin: 50px;
  display: block;
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
}

.table th {
  padding: 10px;
  border: 1px solid black;
}

.table td {
  border: 1px solid black;
  padding: 10px;
}
input {
  height: 15px;
  display: flex;
  text-align: center;
  margin: 10px;
}
label {
  display: flex;
  justify-content: center;
  color: red;
}

button {
  margin-top: 20px;
  height: 40px;
  font-size: 1.5em;
}
