body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  /* background: linear-gradient(90deg, #43aa8b, #000000, #43aa8b); */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 3em;
}

form {
  display: flex;
  flex-direction: column;
}

table {
  margin: 50px;
  display: block;
  justify-content: center;
  text-align: center;
  border-collapse: collapse;
}

.table th {
  padding: 10px;
  border: 1px solid black;
}

.table td {
  border: 1px solid black;
  padding: 10px;
}
input {
  height: 15px;
  display: flex;
  text-align: center;
  margin: 10px;
}
label {
  display: flex;
  justify-content: center;
}

button {
  margin-top: 20px;
  height: 40px;
  font-size: 1.5em;
}

/* page d'accueil */

/* boutons */

.homebtn {
  margin-top: 150px;
  display: flex;
  gap: 100px;
}
.homebtn button {
  border-radius: 20px;
  cursor: pointer;
  background: white;
  height: 60px;
  width: 180px;
}
.homebtn a {
  text-decoration: none;
  font-size: 1.3em;
}
a:visited {
  color: black;
}

img {
  width: 350px;
  height: 200px;
}
