{% extends 'base.html.twig' %}

{% block title %}Modification
{% endblock %}

{% block body %}
	<h1>Modifier le produit</h1>

	{{ include('produits/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


	{{ include('produits/_delete_form.html.twig') }}
	<a id="back" href="{{ path('produits_index') }}">Retour</a>
	<br>
{% endblock %}


{% block javascripts %}

	<script src="{{asset('js/app.js')}}"></script>

{% endblock javascripts %}
