{% extends 'base.html.twig' %}

{% block title %}Ajout
{% endblock %}

{% block body %}
	<h1>Ajouter un produit</h1>

	{{ include('produits/_form.html.twig') }}

	<a id="back" href="{{ path('produits_index') }}">Retour</a>
{% endblock %}
